<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Mobile eCommerce Suite Test">
  <test name="Authentication Test" enabled="true">
    <classes>
      <class name="com.juaracoding.appium.authentications.LoginTest"></class>
    </classes>
  </test>

  <test name="Catalog Test" enabled="true">
    <classes>
      <class name="com.juaracoding.appium.catalogs.CatalogTest"></class>
    </classes>
  </test>
</suite>